body {
color: black;
font-family:"Palatino";	
background-image:url(https://cloud.githubusercontent.com/assets/8309591/3779529/38b61c22-1983-11e4-9f46-b851b9eb4308.jpg);
}
em { font-style:italic; font-weight:bold; }
	strong { text-transform:uppercase; font-weight:bold;
}

#return{
position:absolute;
top:10px;
left:250px
}
