body{
font-size: 25px;
background-image:url(hippo in water.jpg);
margin-left:4%; 
margin-right:4%; 
}



#graph{
padding:15px;
margin:10;
width:900px;
float:right;

}

#panda{


width:150px;
float:right;

}

#funfacts{
padding:15px;
margin:10px;
width:400px;
float:left;

}

#pandaadname{
margin-right:4%
}

#amazinganimals{
padding:15px;
margin:10px;
width:150px;
float:right;
margin-right:20%

}

#title{
margin-left:33%
}

#angryhippo{
margin-top:100px;
}

#baby{
padding:15px;
margin:10px;
width:250px;
float:left;
}

#fighting{
padding:15px;
margin:10px;
width:250px;
float:right;
}

div.box{
border:40px solid #00E600;
padding:60px;
}

:link{
color:#3333CC;
}
:visited{
color:#3333CC;
}

#graphname{
padding-left:250px;
}

#holocene{
font-size:25px;
font-size:25px;

}

#backtohome{
float:right;

}

#farty{
position:absolute;
top:80px;
left:120px;
}
#bibliography{
position:absolute;
bottom:1spx;
left:120px;
}

#caption{
font-size:13px

}

#sponsor{
position:absolute;
top:160px;
left:120px;
}
